.wcframa {
  @at-root .widefat .column-wc_actions &__action.button,
  &__action.button {
    width: auto;
    border-color: $primary;
    display: inline-flex;

    // !important because base styles use it...
    padding: 0 .25em !important;

    &:focus {
      border-color: $primary-light;
      color: $primary-light;
      box-shadow: 0 0 0 1px $primary-light;
    }

    img {
      width: 18px;
    }
  }
}
