/*
 * Shipment overview: Print offset dialog
 */
.wcframa {
  &__offset-dialog {
    position: absolute;

    &__icon {
      flex: 0;
      height: 40px;
    }

    p {
      flex: 1;
      margin: auto;
    }

    input {
      margin-top: 0 !important;
    }
  }
}