/*
 * Shipment summary (overview and single order)
 */
.wcframa__shipment-summary {
  list-style: none;
  margin-right: .3em;

  .delivery-date,
  .delivery-options {
    display: block;
  }

  li:before {
    content: "+";
    margin-right: 4px;
  }

  &__list {
    width: auto;
  }
}
