/*
 * Shipment options form styling
 */
.wcframa__shipment-options-dialog {
  width: 28em;

  table {
    width: 100%;
  }

  table,
  select {
    font-size: 90%;
  }

  select,
  input {
    height: auto;
    padding: 0 8px !important;
  }

  select,
  input,
  .form-row {
    margin: 0;
  }

  td.wcframa_option_cost {
    width: 60px;
    text-align: right;
    font-weight: bold;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
