/* Hack to disable yellow bg color on filled fields and allow js to listen for it  */

@-webkit-keyframes onAutoFillStart {
  0% {
  }
  100% {
  }
}

@keyframes onAutoFillStart {
  0% {
  }
  100% {
  }
}

input:-webkit-autofill {
  -webkit-animation-name: onAutoFillStart;
          animation-name: onAutoFillStart;
  -webkit-transition: background-color 50000s ease-in-out 0s;
  -o-transition: background-color 50000s ease-in-out 0s;
  transition: background-color 50000s ease-in-out 0s;
}

/* End of hack */

.woocommerce form .optional {
  display: none;
}

.frama-pickup-locations {
  list-style: none;
  margin-left: 1.2em;
  input{
    //visibility:hidden;
  }
  input:checked + label {
    //background: red;
  }
  li {
    //border-style: solid;
    //border-radius: 5px;
    //border-width: 1px;
    //margin-bottom: 4px;
  }
  .frama-pickup-title {
    font-weight: bold;
  }
  .frama-pickup-address {
    font-weight: lighter;
    font-size: smaller;
    margin-left: 1.4em;
    margin-top: -0.5em;
    margin-bottom: 0em;
  }
}

.woocommerce-page form .form-row-third {
  float: left;
  width: 16%;
  overflow: visible;
}

.woocommerce form .form-row-third {
  margin-right: 4%;
}

.woocommerce form .form-row-third.first {
  width: 60%;
}

.woocommerce-page form .form-row-third.last {
  margin-right: 0 !important;
}

@media screen and (max-width: 450px) {
  .woocommerce-page form .form-row-third.first {
    width: 100%;
  }

  .woocommerce-page form .form-row-third {
    width: 48%;
  }
}

#billing_house_number::-webkit-outer-spin-button,
#billing_house_number::-webkit-inner-spin-button,
#shipping_house_number::-webkit-outer-spin-button,
#shipping_house_number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#billing_house_number, #shipping_house_number {
  -moz-appearance: textfield;
}
