@import "variables";
@import "admin/index";

/*
 * Shipment overview
 */
.wcframa__order__track-trace {
  word-break: break-all;
}

/*
 * Shipment overview: Track & Trace column
 */
.wcframa__barcodes {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wcframa__box {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
  position: absolute;
  z-index: 999;
  border-radius: 3px;
}

/*
 * Spinner
 */
.wcframa__spinner {
  display: inline-flex;
  margin: auto;
}

.wcframa__spinner > img {
  width: 16px;
  display: none;
}

.wcframa__spinner--loading .wcframa__spinner__loading,
.wcframa__spinner--success .wcframa__spinner__success,
.wcframa__spinner--failed .wcframa__spinner__failed {
  margin-left: 4px;
  display: block !important;
}

.button > .wcframa__spinner {
  margin-left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button + .wcframa__spinner, input + .wcframa__spinner {
  margin-left: 5px;
  margin-top: 5px;
}

.wcframa__bulk-spinner {
  margin-top: 6px;
}

.widefat .column-order_actions .column-wc_actions .wcframa__spinner {
  position: absolute;
}

.wcframa__spinner,
.wcframa__shipment-options__save input {
  vertical-align: middle;
}

.wcframa__encircle {
  display: inline-block;
  text-decoration: none;

  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 10px;
  line-height: 10px;

  padding: 2px;

  border: 1px solid #666;
  color: #666;
  text-align: center;
}

/*
 * Track & Trace status
 */
.wcframa__table--track-trace {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.wcframa__table--track-trace th {
  text-align: left
}

.wcframa__table--track-trace th,
.wcframa__table--track-trace td {
  vertical-align: top;
  padding: 5px 2px;
  border-bottom: 1px solid #ccc;
}

.wcframa__table--track-trace td.wcframa__td--create-label {
  vertical-align: middle;
}

/*
 * Bulk export options styling
 */
.wcframa__bulk-options .wcframa_settings-table td {
  border: none;
  padding: 0 7px 2px !important;
  vertical-align: middle !important;
}

.wcframa__bulk-options td.ordercell {
  width: 60%;
}

.wcframa__bulk-options input[type="checkbox"], input[type="radio"] {
  margin-right: 8px;
}

.wcframa__bulk-options {
  width: 96%;
  margin: 10px auto;
}

.wcframa__bulk-options .wcframa__shipment-options__save {
  margin-top: 8px;
  float: right;
}

/*
 * Chosen delivery options styling
 */
#order_data .delivery-options {
  margin-top: 10px;
}

#order_data .delivery-options strong {
  display: block;
}

/*
 * Delivery options
 */
.wcframa_delivery_option_details {
  margin-top: 5px;
}

.wcframa_delivery_option_details td {
  padding: 0;
}

/* fix woocommerce column float */
@media only screen and (min-width: 1280px) {
  #order_data .order_data_column {
    max-width: 31% !important;
  }
}

/* Hide the "(optional)" spans on wcfr form labels in settings page and others*/
.wcframa label span.optional {
  display: none;
}

/*
 * WCFR Settings page
 */
.woocommerce_page_wcframa_settings tr.wcframa__child {
  background: #e5e5e5;
}

.woocommerce_page_wcframa_settings table.form-table select,
.woocommerce_page_wcframa_settings table.form-table input {
  height: auto;
  line-height: 1.8;
}

.woocommerce_page_wcframa_settings tr.wcframa__child * {
  font-size: .95em !important;
}

.woocommerce_page_wcframa_settings tr.wcframa__child th {
  padding-left: 10px;
  padding-left: 10px;
}

.woocommerce_page_wcframa_settings tr.wcframa__child td {
  padding-top: 5px;
  padding-bottom: 10px;
}

.woocommerce_page_wcframa_settings input,
.woocommerce_page_wcframa_settings table.form-table .select2-container,
.woocommerce_page_wcframa_settings select {
  max-width: 360px;
}

.woocommerce_page_wcframa_settings table.form-table .select2-container {
  min-width: auto !important;
  width: 100% !important;
}

.woocommerce_page_wcframa_settings table.form-table th {
  width: 280px;
}

.wcframa__close-button {
  cursor: pointer;
}

/* Toggle element */
.wcframa__toggle {
  cursor: pointer;
}

[data-disabled="true"] .wcframa__toggle,
[data-readonly="true"] .wcframa__toggle {
  opacity: 65%;
  cursor: not-allowed;
}
/* Skeleton loader (Styles copied from Delivery Options) */
.wcframa__skeleton-loader {
  width: 100%;
}

.wcframa__skeleton-loader div {
  height: 1.5em;
  margin-top: 8px;
  -webkit-animation: shimmer 2s infinite linear;
  animation: shimmer 2s infinite linear;
  background: rgba(0, 0, 0, .05) -o-linear-gradient(left, transparent 25%, rgba(0, 0, 0, .05) 50%, transparent 75%);
  background: rgba(0, 0, 0, .05) -webkit-gradient(linear, left top, right top, color-stop(25%, transparent), color-stop(50%, rgba(0, 0, 0, .05)), color-stop(75%, transparent));
  background: rgba(0, 0, 0, .05) linear-gradient(to right, transparent 25%, rgba(0, 0, 0, .05) 50%, transparent 75%);
  background-size: 400% 400%;
}

.wcframa__skeleton-loader tr:nth-child(1) td:first-child div { width: 60%; }
.wcframa__skeleton-loader tr:nth-child(2) td:first-child div { width: 80%; }
.wcframa__skeleton-loader tr:nth-child(3) td:first-child div { width: 75%; }
.wcframa__skeleton-loader tr:nth-child(4) td:first-child div { width: 77%; }
.wcframa__skeleton-loader tr:nth-child(5) td:first-child div { width: 64%; }

@-webkit-keyframes shimmer {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@keyframes shimmer {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}